<!-- index.html -->
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Express - Node.js POST data example</title>
</head>

<body>

  </form>


  <% if(cardOne !== null){ %>
    <img src = <%= cardOne %> />
  <% } %>

  <% if(cardTwo !== null){ %>
    <img src = <%= cardTwo %> />
  <% } %>
</body>
</html>