<!-- index.html -->
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Example</title>
</head>

<body>
  <script src="/reload/reload.js"></script> 
  <% if(cardOne !== null){ %>
    <img src = <%= cardOne %> />
  <% } %>

  <% if(cardTwo !== null){ %>
    <img src = <%= cardTwo %> />
  <% } %>
</body>
</html>